*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #837e6a;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
    border: 1px solid #837e6a;
    padding: 50px 40px 30px;
}

form {
    margin: 40px auto;
    max-width: 600px;
}

input {
    border: #fff8dc;
    border-radius: 6px;
    background-color: rgb(220, 213, 191);
}

input, button {
    border: none;
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #185e3c;
    border-radius: 8px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
    cursor: pointer;
    max-width: 200px;
    margin: 18px auto;
}

h1 {
    text-align: center;
}

button:hover {
    background-color: #31815d;
}

.container:hover {
    border: 1px solid #deb887;
}

#valor-deposito {
    margin: 14px 0;
}

#btn-reset {
    background-color: rgb(112, 46, 46);
}

.success-message {
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: #31815d;
    padding: 16px;
    color: #fff;
    display: none;
}

.error-message {
    font-size: 12px;
    padding: 8px;
    background-color: rgb(76, 5, 5);
    color: #fff;
    border-radius: 8px;
    margin-bottom: 8px;
    display: none;
}

@media screen and (max-width: 767px) {
    .container {
        width: 80%;
    }

    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
    }

    button {
        padding: 2;
        margin: 18px auto;
        max-width: 180px;
    }

    .success-message {
        padding: 10px 50px;
        color: #fff;
        display: none;
    }
}